n8n-workflows/ingestion-workflow.json
{
  "name": "Data-Ingestion-Qdrant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-data",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.body.text || \"\";\nconst chunkSize = 500;\nconst overlap = 100;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += (chunkSize - overlap)) {\n  chunks.push({ \n    json: { \n      text: text.substring(i, i + chunkSize), \n      chunk_index: chunks.length,\n      filename: $json.body.filename || \"unknown\"\n    } \n  });\n  if (i + chunkSize >= text.length) break;\n}\n\nreturn chunks;"
      },
      "id": "text-splitter",
      "name": "Text Splitter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ollama:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ollama-embedding",
      "name": "Ollama Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://qdrant:6333/collections/reglamento_taekwondo/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": \"{{ $executor.id + '-' + $node['Text Splitter'].json.chunk_index }}\",\n      \"vector\": {{ JSON.stringify($json.embedding) }},\n      \"payload\": {\n        \"text\": \"{{ $node['Text Splitter'].json.text }}\",\n        \"filename\": \"{{ $node['Text Splitter'].json.filename }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "qdrant-upsert",
      "name": "Qdrant Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO documentos (nombre, num_chunks) VALUES ('{{ $node['Text Splitter'].json.filename }}', 1) \nON CONFLICT (nombre) DO UPDATE SET num_chunks = documentos.num_chunks + 1;",
        "options": {}
      },
      "id": "postgres-log",
      "name": "Postgres Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "eVAi0KW39tWMmJ9L",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Text Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "main": [
        [
          {
            "node": "Ollama Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embedding": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Postgres Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
